.counter {
    display: flex;

    span {
        margin: auto 20px auto auto;
        display: flex;
    }

    img {
        display: inline-block;
        width: 40px;
        margin-right: 10px;
    }

    input {
        padding: 7px;
        width: 50px;
        font-size: 20px;
        text-align: center;
    }
}