.slot {
  display: flex;
  flex-direction: column;

  .flex {
    justify-content: center;

    p {
      justify-content: center;
      display: flex;
    }
  }

  button {
    background-color: white;
    border: 1px solid darkgray;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
  }

  &__reels {
    display: flex;
  }

  &__button {
    display: inline-block;
    height: 100%;
  }

  &__spinner {
    justify-content: center;
    display: flex;
    padding: 20px 0 0;
  }

  p {
    display: flex;
    justify-content: center;
  }
}
