html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: $light-blue;
    padding: 0;
    margin: 0;
    font: 1rem Arial;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

input, button {
    outline: none;
}

.blur {
    filter: blur(1px);
}

.disabled {
    position: relative;
    cursor: default !important;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .6;
        background-color: white;
    }
}

.flex {
    display: flex;
}